<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resume.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @resume.surname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @resume.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resume.email %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @resume.picture %>
</p>

<p>
  <strong>About:</strong>
  <%= @resume.about %>
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
