<img src="<%= @somebody.picture %>" alt="photo" style="float:right">

<h1 class="display-4">Position: Cat</h1>
<br>

<dl class="row">
  <p><dt class="col-sm-3">Name: <em><%= @somebody.name %></em></dt></p>
  <br>

  <p><dt class="col-sm-3">Surname: <em><%= @somebody.surname %></em></dt></p>
  <br>

  <p><dt class="col-sm-3">Age: <em><%= @somebody.age %></em></dt></p>
  <br>

  <p><dt class="col-sm-3">Email: <em><%= @somebody.email %></em></dt></p>
  <br>

</dl>

<dl class="row">
  <p><dt class="col-xl-" style="margin-left:12px;">About info: </dt></p>
  <dd style="margin-left:12px;"><%= @somebody.about %></dd>

</dl>

<%= link_to 'Edit', edit_resume_path(@somebody) %> |
<%= link_to 'Back', resumes_path %>
