<h1><%= @somebody.picture %></h1>

<dl class="row">
  <dt class="col-sm-3">Name:</dt>
  <dd class="col-sm-9"><%= @somebody.name %></dd>

  <dt class="col-sm-3">Surname:</dt>
  <dd class="col-sm-9"><%= @somebody.surname %></dd>

  <dt class="col-sm-3">Age:</dt>
  <dd class="col-sm-9"><%= @somebody.age %></dd>

  <dt class="col-sm-3">Email:</dt>
  <dd class="col-sm-9"><%= @somebody.email %></dd>

  <dt class="col-sm-3">About info:</dt>
  <dd class="col-sm-9"><%= @somebody.about %></dd>

</dl>