<img src="<%= @somebody.picture %>" alt="photo" style="float:right">

<h1 class="display-3">CV</h1>
<br>

<dl class="row">
  <dt class="col-sm-3"><strong>Name: </strong><%= @somebody.name %></dt>
  <br>

  <dt class="col-sm-3"><strong>Surname: </strong><%= @somebody.surname %></dt>
  <br>

  <dt class="col-sm-3"><strong>Age: </strong><%= @somebody.age %></dt>
  <br>

  <dt class="col-sm-3"><strong>Email: </strong><%= @somebody.email %></dt>
  <br>

  <strong><dt class="col-sm-3">About info:</dt></strong>
  <dd class="col-sm-9"><%= @somebody.about %></dd>

</dl>

<%= link_to 'Edit', edit_resume_path(@somebody) %> |
<%= link_to 'Back', resumes_path %>